/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01 Sep 2018, 1:47:52 AM
    Author     : ROSELINE
*/
body
{
    background:url("Screenshot (30).png");
}
.all
{
    width: 800px;
    background:url("fresh_roses_flowers-wallpaper-3554x1999.jpg");
    margin: 0 auto 0 auto;
    min-height:900px;
}
li
{
    display:block;
}
.first 
{
    
    height:100px;
    padding:20px;
    text-align:center;
    color: white;
}
.second
{
    list-style:none;
    display:inline-block;
    min-height:400px;
    width:200px;
    float:left;
    
}
.third
{
   width:500px;
   float:right;
   min-height:70px;
   color:white;
   
}
.fourth
{
   width:500px;
   float:right;
   min-height:500px;
   color:orange;
   font:strong;
   padding: 0% auto 0% auto;
}
h4
{
   
    color:purple;
}
.half
{
   
    height:200px;
    background:url(paste.png)
}
.half1
{
    height:200px;
   
}
.gret
{
    height:10px;
}
h2
{
     font-family:fantasy;
}
h3
{
   color: midnightblue; 
}
h1
{
    font-style:italic;
}
ul li :hover
{
    list-style:none;
    color:orange;
}